sanremo/SanremoWebClient/web/WEB-INF/wsdl/Host-001.homenet.telecomitalia.it_8080/CanzoneEJBService/CanzoneEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sanremoserver/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sanremoserver/" name="CanzoneEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://sanremoserver/" schemaLocation="http://Host-001.homenet.telecomitalia.it:8080/CanzoneEJBService/CanzoneEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="inserisci">
<part name="parameters" element="tns:inserisci"/>
</message>
<message name="inserisciResponse">
<part name="parameters" element="tns:inserisciResponse"/>
</message>
<message name="elimina">
<part name="parameters" element="tns:elimina"/>
</message>
<message name="eliminaResponse">
<part name="parameters" element="tns:eliminaResponse"/>
</message>
<message name="trovaPerId">
<part name="parameters" element="tns:trovaPerId"/>
</message>
<message name="trovaPerIdResponse">
<part name="parameters" element="tns:trovaPerIdResponse"/>
</message>
<message name="aggiorna">
<part name="parameters" element="tns:aggiorna"/>
</message>
<message name="aggiornaResponse">
<part name="parameters" element="tns:aggiornaResponse"/>
</message>
<message name="trovaTutto">
<part name="parameters" element="tns:trovaTutto"/>
</message>
<message name="trovaTuttoResponse">
<part name="parameters" element="tns:trovaTuttoResponse"/>
</message>
<message name="trovaPerVoti">
<part name="parameters" element="tns:trovaPerVoti"/>
</message>
<message name="trovaPerVotiResponse">
<part name="parameters" element="tns:trovaPerVotiResponse"/>
</message>
<message name="modificaVoti">
<part name="parameters" element="tns:modificaVoti"/>
</message>
<message name="modificaVotiResponse">
<part name="parameters" element="tns:modificaVotiResponse"/>
</message>
<message name="trovaPerCategoria">
<part name="parameters" element="tns:trovaPerCategoria"/>
</message>
<message name="trovaPerCategoriaResponse">
<part name="parameters" element="tns:trovaPerCategoriaResponse"/>
</message>
<portType name="CanzoneEJB">
<operation name="inserisci">
<input wsam:Action="http://sanremoserver/CanzoneEJB/inserisciRequest" message="tns:inserisci"/>
<output wsam:Action="http://sanremoserver/CanzoneEJB/inserisciResponse" message="tns:inserisciResponse"/>
</operation>
<operation name="elimina">
<input wsam:Action="http://sanremoserver/CanzoneEJB/eliminaRequest" message="tns:elimina"/>
<output wsam:Action="http://sanremoserver/CanzoneEJB/eliminaResponse" message="tns:eliminaResponse"/>
</operation>
<operation name="trovaPerId">
<input wsam:Action="http://sanremoserver/CanzoneEJB/trovaPerIdRequest" message="tns:trovaPerId"/>
<output wsam:Action="http://sanremoserver/CanzoneEJB/trovaPerIdResponse" message="tns:trovaPerIdResponse"/>
</operation>
<operation name="aggiorna">
<input wsam:Action="http://sanremoserver/CanzoneEJB/aggiornaRequest" message="tns:aggiorna"/>
<output wsam:Action="http://sanremoserver/CanzoneEJB/aggiornaResponse" message="tns:aggiornaResponse"/>
</operation>
<operation name="trovaTutto">
<input wsam:Action="http://sanremoserver/CanzoneEJB/trovaTuttoRequest" message="tns:trovaTutto"/>
<output wsam:Action="http://sanremoserver/CanzoneEJB/trovaTuttoResponse" message="tns:trovaTuttoResponse"/>
</operation>
<operation name="trovaPerVoti">
<input wsam:Action="http://sanremoserver/CanzoneEJB/trovaPerVotiRequest" message="tns:trovaPerVoti"/>
<output wsam:Action="http://sanremoserver/CanzoneEJB/trovaPerVotiResponse" message="tns:trovaPerVotiResponse"/>
</operation>
<operation name="modificaVoti">
<input wsam:Action="http://sanremoserver/CanzoneEJB/modificaVotiRequest" message="tns:modificaVoti"/>
<output wsam:Action="http://sanremoserver/CanzoneEJB/modificaVotiResponse" message="tns:modificaVotiResponse"/>
</operation>
<operation name="trovaPerCategoria">
<input wsam:Action="http://sanremoserver/CanzoneEJB/trovaPerCategoriaRequest" message="tns:trovaPerCategoria"/>
<output wsam:Action="http://sanremoserver/CanzoneEJB/trovaPerCategoriaResponse" message="tns:trovaPerCategoriaResponse"/>
</operation>
</portType>
<binding name="CanzoneEJBPortBinding" type="tns:CanzoneEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="inserisci">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="elimina">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiorna">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaTutto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerVoti">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificaVoti">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CanzoneEJBService">
<port name="CanzoneEJBPort" binding="tns:CanzoneEJBPortBinding">
<soap:address location="http://Host-001.homenet.telecomitalia.it:8080/CanzoneEJBService/CanzoneEJB"/>
</port>
</service>
</definitions>