ricambiAuto/RicambiAutoWebClient/src/conf/xml-resources/web-service-references/ProdottoEJB/wsdl/Host-001.homenet.telecomitalia.it_8080/ProdottoEJBService/ProdottoEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ricambiautoserver/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ricambiautoserver/" name="ProdottoEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://ricambiautoserver/" schemaLocation="http://Host-001.homenet.telecomitalia.it:8080/ProdottoEJBService/ProdottoEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="trovaPerId">
<part name="parameters" element="tns:trovaPerId"/>
</message>
<message name="trovaPerIdResponse">
<part name="parameters" element="tns:trovaPerIdResponse"/>
</message>
<message name="aggiorna">
<part name="parameters" element="tns:aggiorna"/>
</message>
<message name="aggiornaResponse">
<part name="parameters" element="tns:aggiornaResponse"/>
</message>
<message name="inserisci">
<part name="parameters" element="tns:inserisci"/>
</message>
<message name="inserisciResponse">
<part name="parameters" element="tns:inserisciResponse"/>
</message>
<message name="elimina">
<part name="parameters" element="tns:elimina"/>
</message>
<message name="eliminaResponse">
<part name="parameters" element="tns:eliminaResponse"/>
</message>
<message name="trovaTutti">
<part name="parameters" element="tns:trovaTutti"/>
</message>
<message name="trovaTuttiResponse">
<part name="parameters" element="tns:trovaTuttiResponse"/>
</message>
<message name="modificaPrezzo">
<part name="parameters" element="tns:modificaPrezzo"/>
</message>
<message name="modificaPrezzoResponse">
<part name="parameters" element="tns:modificaPrezzoResponse"/>
</message>
<message name="trovaPerCategoria">
<part name="parameters" element="tns:trovaPerCategoria"/>
</message>
<message name="trovaPerCategoriaResponse">
<part name="parameters" element="tns:trovaPerCategoriaResponse"/>
</message>
<message name="trovaDaOrdinare">
<part name="parameters" element="tns:trovaDaOrdinare"/>
</message>
<message name="trovaDaOrdinareResponse">
<part name="parameters" element="tns:trovaDaOrdinareResponse"/>
</message>
<portType name="ProdottoEJB">
<operation name="trovaPerId">
<input wsam:Action="http://ricambiautoserver/ProdottoEJB/trovaPerIdRequest" message="tns:trovaPerId"/>
<output wsam:Action="http://ricambiautoserver/ProdottoEJB/trovaPerIdResponse" message="tns:trovaPerIdResponse"/>
</operation>
<operation name="aggiorna">
<input wsam:Action="http://ricambiautoserver/ProdottoEJB/aggiornaRequest" message="tns:aggiorna"/>
<output wsam:Action="http://ricambiautoserver/ProdottoEJB/aggiornaResponse" message="tns:aggiornaResponse"/>
</operation>
<operation name="inserisci">
<input wsam:Action="http://ricambiautoserver/ProdottoEJB/inserisciRequest" message="tns:inserisci"/>
<output wsam:Action="http://ricambiautoserver/ProdottoEJB/inserisciResponse" message="tns:inserisciResponse"/>
</operation>
<operation name="elimina">
<input wsam:Action="http://ricambiautoserver/ProdottoEJB/eliminaRequest" message="tns:elimina"/>
<output wsam:Action="http://ricambiautoserver/ProdottoEJB/eliminaResponse" message="tns:eliminaResponse"/>
</operation>
<operation name="trovaTutti">
<input wsam:Action="http://ricambiautoserver/ProdottoEJB/trovaTuttiRequest" message="tns:trovaTutti"/>
<output wsam:Action="http://ricambiautoserver/ProdottoEJB/trovaTuttiResponse" message="tns:trovaTuttiResponse"/>
</operation>
<operation name="modificaPrezzo">
<input wsam:Action="http://ricambiautoserver/ProdottoEJB/modificaPrezzoRequest" message="tns:modificaPrezzo"/>
<output wsam:Action="http://ricambiautoserver/ProdottoEJB/modificaPrezzoResponse" message="tns:modificaPrezzoResponse"/>
</operation>
<operation name="trovaPerCategoria">
<input wsam:Action="http://ricambiautoserver/ProdottoEJB/trovaPerCategoriaRequest" message="tns:trovaPerCategoria"/>
<output wsam:Action="http://ricambiautoserver/ProdottoEJB/trovaPerCategoriaResponse" message="tns:trovaPerCategoriaResponse"/>
</operation>
<operation name="trovaDaOrdinare">
<input wsam:Action="http://ricambiautoserver/ProdottoEJB/trovaDaOrdinareRequest" message="tns:trovaDaOrdinare"/>
<output wsam:Action="http://ricambiautoserver/ProdottoEJB/trovaDaOrdinareResponse" message="tns:trovaDaOrdinareResponse"/>
</operation>
</portType>
<binding name="ProdottoEJBPortBinding" type="tns:ProdottoEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="trovaPerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiorna">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserisci">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="elimina">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaTutti">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificaPrezzo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaDaOrdinare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProdottoEJBService">
<port name="ProdottoEJBPort" binding="tns:ProdottoEJBPortBinding">
<soap:address location="http://Host-001.homenet.telecomitalia.it:8080/ProdottoEJBService/ProdottoEJB"/>
</port>
</service>
</definitions>