covid/AbitanteWebClient/web/WEB-INF/wsdl/Host-001.homenet.telecomitalia.it_8080/AbitanteEJBService/AbitanteEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://abitanteserver/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://abitanteserver/" name="AbitanteEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://abitanteserver/" schemaLocation="http://Host-001.homenet.telecomitalia.it:8080/AbitanteEJBService/AbitanteEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="trovaPerCategoria">
<part name="parameters" element="tns:trovaPerCategoria"/>
</message>
<message name="trovaPerCategoriaResponse">
<part name="parameters" element="tns:trovaPerCategoriaResponse"/>
</message>
<message name="trovaPerContrattoCovid">
<part name="parameters" element="tns:trovaPerContrattoCovid"/>
</message>
<message name="trovaPerContrattoCovidResponse">
<part name="parameters" element="tns:trovaPerContrattoCovidResponse"/>
</message>
<message name="trovaPerCategoriaEeta">
<part name="parameters" element="tns:trovaPerCategoriaEeta"/>
</message>
<message name="trovaPerCategoriaEetaResponse">
<part name="parameters" element="tns:trovaPerCategoriaEetaResponse"/>
</message>
<message name="inserisci">
<part name="parameters" element="tns:inserisci"/>
</message>
<message name="inserisciResponse">
<part name="parameters" element="tns:inserisciResponse"/>
</message>
<message name="elimina">
<part name="parameters" element="tns:elimina"/>
</message>
<message name="eliminaResponse">
<part name="parameters" element="tns:eliminaResponse"/>
</message>
<message name="aggiorna">
<part name="parameters" element="tns:aggiorna"/>
</message>
<message name="aggiornaResponse">
<part name="parameters" element="tns:aggiornaResponse"/>
</message>
<message name="trovaPerEta">
<part name="parameters" element="tns:trovaPerEta"/>
</message>
<message name="trovaPerEtaResponse">
<part name="parameters" element="tns:trovaPerEtaResponse"/>
</message>
<message name="trovaTutto">
<part name="parameters" element="tns:trovaTutto"/>
</message>
<message name="trovaTuttoResponse">
<part name="parameters" element="tns:trovaTuttoResponse"/>
</message>
<message name="trovaPerId">
<part name="parameters" element="tns:trovaPerId"/>
</message>
<message name="trovaPerIdResponse">
<part name="parameters" element="tns:trovaPerIdResponse"/>
</message>
<message name="trovaPerCategoriaEinteresseVaccino">
<part name="parameters" element="tns:trovaPerCategoriaEinteresseVaccino"/>
</message>
<message name="trovaPerCategoriaEinteresseVaccinoResponse">
<part name="parameters" element="tns:trovaPerCategoriaEinteresseVaccinoResponse"/>
</message>
<portType name="AbitanteEJB">
<operation name="trovaPerCategoria">
<input wsam:Action="http://abitanteserver/AbitanteEJB/trovaPerCategoriaRequest" message="tns:trovaPerCategoria"/>
<output wsam:Action="http://abitanteserver/AbitanteEJB/trovaPerCategoriaResponse" message="tns:trovaPerCategoriaResponse"/>
</operation>
<operation name="trovaPerContrattoCovid">
<input wsam:Action="http://abitanteserver/AbitanteEJB/trovaPerContrattoCovidRequest" message="tns:trovaPerContrattoCovid"/>
<output wsam:Action="http://abitanteserver/AbitanteEJB/trovaPerContrattoCovidResponse" message="tns:trovaPerContrattoCovidResponse"/>
</operation>
<operation name="trovaPerCategoriaEeta">
<input wsam:Action="http://abitanteserver/AbitanteEJB/trovaPerCategoriaEetaRequest" message="tns:trovaPerCategoriaEeta"/>
<output wsam:Action="http://abitanteserver/AbitanteEJB/trovaPerCategoriaEetaResponse" message="tns:trovaPerCategoriaEetaResponse"/>
</operation>
<operation name="inserisci">
<input wsam:Action="http://abitanteserver/AbitanteEJB/inserisciRequest" message="tns:inserisci"/>
<output wsam:Action="http://abitanteserver/AbitanteEJB/inserisciResponse" message="tns:inserisciResponse"/>
</operation>
<operation name="elimina">
<input wsam:Action="http://abitanteserver/AbitanteEJB/eliminaRequest" message="tns:elimina"/>
<output wsam:Action="http://abitanteserver/AbitanteEJB/eliminaResponse" message="tns:eliminaResponse"/>
</operation>
<operation name="aggiorna">
<input wsam:Action="http://abitanteserver/AbitanteEJB/aggiornaRequest" message="tns:aggiorna"/>
<output wsam:Action="http://abitanteserver/AbitanteEJB/aggiornaResponse" message="tns:aggiornaResponse"/>
</operation>
<operation name="trovaPerEta">
<input wsam:Action="http://abitanteserver/AbitanteEJB/trovaPerEtaRequest" message="tns:trovaPerEta"/>
<output wsam:Action="http://abitanteserver/AbitanteEJB/trovaPerEtaResponse" message="tns:trovaPerEtaResponse"/>
</operation>
<operation name="trovaTutto">
<input wsam:Action="http://abitanteserver/AbitanteEJB/trovaTuttoRequest" message="tns:trovaTutto"/>
<output wsam:Action="http://abitanteserver/AbitanteEJB/trovaTuttoResponse" message="tns:trovaTuttoResponse"/>
</operation>
<operation name="trovaPerId">
<input wsam:Action="http://abitanteserver/AbitanteEJB/trovaPerIdRequest" message="tns:trovaPerId"/>
<output wsam:Action="http://abitanteserver/AbitanteEJB/trovaPerIdResponse" message="tns:trovaPerIdResponse"/>
</operation>
<operation name="trovaPerCategoriaEinteresseVaccino">
<input wsam:Action="http://abitanteserver/AbitanteEJB/trovaPerCategoriaEinteresseVaccinoRequest" message="tns:trovaPerCategoriaEinteresseVaccino"/>
<output wsam:Action="http://abitanteserver/AbitanteEJB/trovaPerCategoriaEinteresseVaccinoResponse" message="tns:trovaPerCategoriaEinteresseVaccinoResponse"/>
</operation>
</portType>
<binding name="AbitanteEJBPortBinding" type="tns:AbitanteEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="trovaPerCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerContrattoCovid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerCategoriaEeta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserisci">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="elimina">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiorna">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerEta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaTutto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerCategoriaEinteresseVaccino">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AbitanteEJBService">
<port name="AbitanteEJBPort" binding="tns:AbitanteEJBPortBinding">
<soap:address location="http://Host-001.homenet.telecomitalia.it:8080/AbitanteEJBService/AbitanteEJB"/>
</port>
</service>
</definitions>