canile/CanileWebClient/web/WEB-INF/wsdl/Host-001.homenet.telecomitalia.it_8080/CaneEJBService/CaneEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://canileserver/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://canileserver/" name="CaneEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://canileserver/" schemaLocation="http://Host-001.homenet.telecomitalia.it:8080/CaneEJBService/CaneEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="trovaPerTagliaEeta">
<part name="parameters" element="tns:trovaPerTagliaEeta"/>
</message>
<message name="trovaPerTagliaEetaResponse">
<part name="parameters" element="tns:trovaPerTagliaEetaResponse"/>
</message>
<message name="adotta">
<part name="parameters" element="tns:adotta"/>
</message>
<message name="adottaResponse">
<part name="parameters" element="tns:adottaResponse"/>
</message>
<message name="inserisci">
<part name="parameters" element="tns:inserisci"/>
</message>
<message name="inserisciResponse">
<part name="parameters" element="tns:inserisciResponse"/>
</message>
<message name="elimina">
<part name="parameters" element="tns:elimina"/>
</message>
<message name="eliminaResponse">
<part name="parameters" element="tns:eliminaResponse"/>
</message>
<message name="trovaPerId">
<part name="parameters" element="tns:trovaPerId"/>
</message>
<message name="trovaPerIdResponse">
<part name="parameters" element="tns:trovaPerIdResponse"/>
</message>
<message name="aggiorna">
<part name="parameters" element="tns:aggiorna"/>
</message>
<message name="aggiornaResponse">
<part name="parameters" element="tns:aggiornaResponse"/>
</message>
<message name="trovaPerRazza">
<part name="parameters" element="tns:trovaPerRazza"/>
</message>
<message name="trovaPerRazzaResponse">
<part name="parameters" element="tns:trovaPerRazzaResponse"/>
</message>
<message name="trovaPerNome">
<part name="parameters" element="tns:trovaPerNome"/>
</message>
<message name="trovaPerNomeResponse">
<part name="parameters" element="tns:trovaPerNomeResponse"/>
</message>
<message name="trovaPerTaglia">
<part name="parameters" element="tns:trovaPerTaglia"/>
</message>
<message name="trovaPerTagliaResponse">
<part name="parameters" element="tns:trovaPerTagliaResponse"/>
</message>
<message name="trovaPerEta">
<part name="parameters" element="tns:trovaPerEta"/>
</message>
<message name="trovaPerEtaResponse">
<part name="parameters" element="tns:trovaPerEtaResponse"/>
</message>
<message name="trovaPerStato">
<part name="parameters" element="tns:trovaPerStato"/>
</message>
<message name="trovaPerStatoResponse">
<part name="parameters" element="tns:trovaPerStatoResponse"/>
</message>
<message name="trovaTutto">
<part name="parameters" element="tns:trovaTutto"/>
</message>
<message name="trovaTuttoResponse">
<part name="parameters" element="tns:trovaTuttoResponse"/>
</message>
<portType name="CaneEJB">
<operation name="trovaPerTagliaEeta">
<input wsam:Action="http://canileserver/CaneEJB/trovaPerTagliaEetaRequest" message="tns:trovaPerTagliaEeta"/>
<output wsam:Action="http://canileserver/CaneEJB/trovaPerTagliaEetaResponse" message="tns:trovaPerTagliaEetaResponse"/>
</operation>
<operation name="adotta">
<input wsam:Action="http://canileserver/CaneEJB/adottaRequest" message="tns:adotta"/>
<output wsam:Action="http://canileserver/CaneEJB/adottaResponse" message="tns:adottaResponse"/>
</operation>
<operation name="inserisci">
<input wsam:Action="http://canileserver/CaneEJB/inserisciRequest" message="tns:inserisci"/>
<output wsam:Action="http://canileserver/CaneEJB/inserisciResponse" message="tns:inserisciResponse"/>
</operation>
<operation name="elimina">
<input wsam:Action="http://canileserver/CaneEJB/eliminaRequest" message="tns:elimina"/>
<output wsam:Action="http://canileserver/CaneEJB/eliminaResponse" message="tns:eliminaResponse"/>
</operation>
<operation name="trovaPerId">
<input wsam:Action="http://canileserver/CaneEJB/trovaPerIdRequest" message="tns:trovaPerId"/>
<output wsam:Action="http://canileserver/CaneEJB/trovaPerIdResponse" message="tns:trovaPerIdResponse"/>
</operation>
<operation name="aggiorna">
<input wsam:Action="http://canileserver/CaneEJB/aggiornaRequest" message="tns:aggiorna"/>
<output wsam:Action="http://canileserver/CaneEJB/aggiornaResponse" message="tns:aggiornaResponse"/>
</operation>
<operation name="trovaPerRazza">
<input wsam:Action="http://canileserver/CaneEJB/trovaPerRazzaRequest" message="tns:trovaPerRazza"/>
<output wsam:Action="http://canileserver/CaneEJB/trovaPerRazzaResponse" message="tns:trovaPerRazzaResponse"/>
</operation>
<operation name="trovaPerNome">
<input wsam:Action="http://canileserver/CaneEJB/trovaPerNomeRequest" message="tns:trovaPerNome"/>
<output wsam:Action="http://canileserver/CaneEJB/trovaPerNomeResponse" message="tns:trovaPerNomeResponse"/>
</operation>
<operation name="trovaPerTaglia">
<input wsam:Action="http://canileserver/CaneEJB/trovaPerTagliaRequest" message="tns:trovaPerTaglia"/>
<output wsam:Action="http://canileserver/CaneEJB/trovaPerTagliaResponse" message="tns:trovaPerTagliaResponse"/>
</operation>
<operation name="trovaPerEta">
<input wsam:Action="http://canileserver/CaneEJB/trovaPerEtaRequest" message="tns:trovaPerEta"/>
<output wsam:Action="http://canileserver/CaneEJB/trovaPerEtaResponse" message="tns:trovaPerEtaResponse"/>
</operation>
<operation name="trovaPerStato">
<input wsam:Action="http://canileserver/CaneEJB/trovaPerStatoRequest" message="tns:trovaPerStato"/>
<output wsam:Action="http://canileserver/CaneEJB/trovaPerStatoResponse" message="tns:trovaPerStatoResponse"/>
</operation>
<operation name="trovaTutto">
<input wsam:Action="http://canileserver/CaneEJB/trovaTuttoRequest" message="tns:trovaTutto"/>
<output wsam:Action="http://canileserver/CaneEJB/trovaTuttoResponse" message="tns:trovaTuttoResponse"/>
</operation>
</portType>
<binding name="CaneEJBPortBinding" type="tns:CaneEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="trovaPerTagliaEeta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="adotta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserisci">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="elimina">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiorna">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerRazza">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerNome">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerTaglia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerEta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerStato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaTutto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CaneEJBService">
<port name="CaneEJBPort" binding="tns:CaneEJBPortBinding">
<soap:address location="http://Host-001.homenet.telecomitalia.it:8080/CaneEJBService/CaneEJB"/>
</port>
</service>
</definitions>