immobile/ImmobileWebClient/web/WEB-INF/wsdl/Host-001.homenet.telecomitalia.it_8080/ImmobileEJBService/ImmobileEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://immobileserver/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://immobileserver/" name="ImmobileEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://immobileserver/" schemaLocation="http://Host-001.homenet.telecomitalia.it:8080/ImmobileEJBService/ImmobileEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="inserisci">
<part name="parameters" element="tns:inserisci"/>
</message>
<message name="inserisciResponse">
<part name="parameters" element="tns:inserisciResponse"/>
</message>
<message name="elimina">
<part name="parameters" element="tns:elimina"/>
</message>
<message name="eliminaResponse">
<part name="parameters" element="tns:eliminaResponse"/>
</message>
<message name="aggiorna">
<part name="parameters" element="tns:aggiorna"/>
</message>
<message name="aggiornaResponse">
<part name="parameters" element="tns:aggiornaResponse"/>
</message>
<message name="trovaTutto">
<part name="parameters" element="tns:trovaTutto"/>
</message>
<message name="trovaTuttoResponse">
<part name="parameters" element="tns:trovaTuttoResponse"/>
</message>
<message name="trovaPerStato">
<part name="parameters" element="tns:trovaPerStato"/>
</message>
<message name="trovaPerStatoResponse">
<part name="parameters" element="tns:trovaPerStatoResponse"/>
</message>
<message name="trovaPerId">
<part name="parameters" element="tns:trovaPerId"/>
</message>
<message name="trovaPerIdResponse">
<part name="parameters" element="tns:trovaPerIdResponse"/>
</message>
<message name="trovaPerIndirizzo">
<part name="parameters" element="tns:trovaPerIndirizzo"/>
</message>
<message name="trovaPerIndirizzoResponse">
<part name="parameters" element="tns:trovaPerIndirizzoResponse"/>
</message>
<message name="trovaPerDataVendita">
<part name="parameters" element="tns:trovaPerDataVendita"/>
</message>
<message name="trovaPerDataVenditaResponse">
<part name="parameters" element="tns:trovaPerDataVenditaResponse"/>
</message>
<portType name="ImmobileEJB">
<operation name="inserisci">
<input wsam:Action="http://immobileserver/ImmobileEJB/inserisciRequest" message="tns:inserisci"/>
<output wsam:Action="http://immobileserver/ImmobileEJB/inserisciResponse" message="tns:inserisciResponse"/>
</operation>
<operation name="elimina">
<input wsam:Action="http://immobileserver/ImmobileEJB/eliminaRequest" message="tns:elimina"/>
<output wsam:Action="http://immobileserver/ImmobileEJB/eliminaResponse" message="tns:eliminaResponse"/>
</operation>
<operation name="aggiorna">
<input wsam:Action="http://immobileserver/ImmobileEJB/aggiornaRequest" message="tns:aggiorna"/>
<output wsam:Action="http://immobileserver/ImmobileEJB/aggiornaResponse" message="tns:aggiornaResponse"/>
</operation>
<operation name="trovaTutto">
<input wsam:Action="http://immobileserver/ImmobileEJB/trovaTuttoRequest" message="tns:trovaTutto"/>
<output wsam:Action="http://immobileserver/ImmobileEJB/trovaTuttoResponse" message="tns:trovaTuttoResponse"/>
</operation>
<operation name="trovaPerStato">
<input wsam:Action="http://immobileserver/ImmobileEJB/trovaPerStatoRequest" message="tns:trovaPerStato"/>
<output wsam:Action="http://immobileserver/ImmobileEJB/trovaPerStatoResponse" message="tns:trovaPerStatoResponse"/>
</operation>
<operation name="trovaPerId">
<input wsam:Action="http://immobileserver/ImmobileEJB/trovaPerIdRequest" message="tns:trovaPerId"/>
<output wsam:Action="http://immobileserver/ImmobileEJB/trovaPerIdResponse" message="tns:trovaPerIdResponse"/>
</operation>
<operation name="trovaPerIndirizzo">
<input wsam:Action="http://immobileserver/ImmobileEJB/trovaPerIndirizzoRequest" message="tns:trovaPerIndirizzo"/>
<output wsam:Action="http://immobileserver/ImmobileEJB/trovaPerIndirizzoResponse" message="tns:trovaPerIndirizzoResponse"/>
</operation>
<operation name="trovaPerDataVendita">
<input wsam:Action="http://immobileserver/ImmobileEJB/trovaPerDataVenditaRequest" message="tns:trovaPerDataVendita"/>
<output wsam:Action="http://immobileserver/ImmobileEJB/trovaPerDataVenditaResponse" message="tns:trovaPerDataVenditaResponse"/>
</operation>
</portType>
<binding name="ImmobileEJBPortBinding" type="tns:ImmobileEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="inserisci">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="elimina">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiorna">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaTutto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerStato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerIndirizzo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerDataVendita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ImmobileEJBService">
<port name="ImmobileEJBPort" binding="tns:ImmobileEJBPortBinding">
<soap:address location="http://Host-001.homenet.telecomitalia.it:8080/ImmobileEJBService/ImmobileEJB"/>
</port>
</service>
</definitions>