uefa/PartiteWebClient/src/conf/xml-resources/web-service-references/PartitaEJB/wsdl/Host-007.homenet.telecomitalia.it_8080/PartitaEJBService/PartitaEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4 (RELEASE-4.0.4-ec440d5; 2024-06-28T10:09:00+0000) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#ec440d5. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://partiteserver/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://partiteserver/" name="PartitaEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://partiteserver/" schemaLocation="http://Host-007.homenet.telecomitalia.it:8080/PartitaEJBService/PartitaEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="inserisci">
<part name="parameters" element="tns:inserisci"/>
</message>
<message name="inserisciResponse">
<part name="parameters" element="tns:inserisciResponse"/>
</message>
<message name="elimina">
<part name="parameters" element="tns:elimina"/>
</message>
<message name="eliminaResponse">
<part name="parameters" element="tns:eliminaResponse"/>
</message>
<message name="aggiorna">
<part name="parameters" element="tns:aggiorna"/>
</message>
<message name="aggiornaResponse">
<part name="parameters" element="tns:aggiornaResponse"/>
</message>
<message name="trovaPerTipo">
<part name="parameters" element="tns:trovaPerTipo"/>
</message>
<message name="trovaPerTipoResponse">
<part name="parameters" element="tns:trovaPerTipoResponse"/>
</message>
<message name="trovaTutto">
<part name="parameters" element="tns:trovaTutto"/>
</message>
<message name="trovaTuttoResponse">
<part name="parameters" element="tns:trovaTuttoResponse"/>
</message>
<message name="trovaPerGoal">
<part name="parameters" element="tns:trovaPerGoal"/>
</message>
<message name="trovaPerGoalResponse">
<part name="parameters" element="tns:trovaPerGoalResponse"/>
</message>
<message name="trovaPerId">
<part name="parameters" element="tns:trovaPerId"/>
</message>
<message name="trovaPerIdResponse">
<part name="parameters" element="tns:trovaPerIdResponse"/>
</message>
<message name="trovaPerNumAmmonizioni">
<part name="parameters" element="tns:trovaPerNumAmmonizioni"/>
</message>
<message name="trovaPerNumAmmonizioniResponse">
<part name="parameters" element="tns:trovaPerNumAmmonizioniResponse"/>
</message>
<message name="trovaPerNumEspulsioni">
<part name="parameters" element="tns:trovaPerNumEspulsioni"/>
</message>
<message name="trovaPerNumEspulsioniResponse">
<part name="parameters" element="tns:trovaPerNumEspulsioniResponse"/>
</message>
<message name="trovaPerPartiteGiocate">
<part name="parameters" element="tns:trovaPerPartiteGiocate"/>
</message>
<message name="trovaPerPartiteGiocateResponse">
<part name="parameters" element="tns:trovaPerPartiteGiocateResponse"/>
</message>
<portType name="PartitaEJB">
<operation name="inserisci">
<input wsam:Action="http://partiteserver/PartitaEJB/inserisciRequest" message="tns:inserisci"/>
<output wsam:Action="http://partiteserver/PartitaEJB/inserisciResponse" message="tns:inserisciResponse"/>
</operation>
<operation name="elimina">
<input wsam:Action="http://partiteserver/PartitaEJB/eliminaRequest" message="tns:elimina"/>
<output wsam:Action="http://partiteserver/PartitaEJB/eliminaResponse" message="tns:eliminaResponse"/>
</operation>
<operation name="aggiorna">
<input wsam:Action="http://partiteserver/PartitaEJB/aggiornaRequest" message="tns:aggiorna"/>
<output wsam:Action="http://partiteserver/PartitaEJB/aggiornaResponse" message="tns:aggiornaResponse"/>
</operation>
<operation name="trovaPerTipo">
<input wsam:Action="http://partiteserver/PartitaEJB/trovaPerTipoRequest" message="tns:trovaPerTipo"/>
<output wsam:Action="http://partiteserver/PartitaEJB/trovaPerTipoResponse" message="tns:trovaPerTipoResponse"/>
</operation>
<operation name="trovaTutto">
<input wsam:Action="http://partiteserver/PartitaEJB/trovaTuttoRequest" message="tns:trovaTutto"/>
<output wsam:Action="http://partiteserver/PartitaEJB/trovaTuttoResponse" message="tns:trovaTuttoResponse"/>
</operation>
<operation name="trovaPerGoal">
<input wsam:Action="http://partiteserver/PartitaEJB/trovaPerGoalRequest" message="tns:trovaPerGoal"/>
<output wsam:Action="http://partiteserver/PartitaEJB/trovaPerGoalResponse" message="tns:trovaPerGoalResponse"/>
</operation>
<operation name="trovaPerId">
<input wsam:Action="http://partiteserver/PartitaEJB/trovaPerIdRequest" message="tns:trovaPerId"/>
<output wsam:Action="http://partiteserver/PartitaEJB/trovaPerIdResponse" message="tns:trovaPerIdResponse"/>
</operation>
<operation name="trovaPerNumAmmonizioni">
<input wsam:Action="http://partiteserver/PartitaEJB/trovaPerNumAmmonizioniRequest" message="tns:trovaPerNumAmmonizioni"/>
<output wsam:Action="http://partiteserver/PartitaEJB/trovaPerNumAmmonizioniResponse" message="tns:trovaPerNumAmmonizioniResponse"/>
</operation>
<operation name="trovaPerNumEspulsioni">
<input wsam:Action="http://partiteserver/PartitaEJB/trovaPerNumEspulsioniRequest" message="tns:trovaPerNumEspulsioni"/>
<output wsam:Action="http://partiteserver/PartitaEJB/trovaPerNumEspulsioniResponse" message="tns:trovaPerNumEspulsioniResponse"/>
</operation>
<operation name="trovaPerPartiteGiocate">
<input wsam:Action="http://partiteserver/PartitaEJB/trovaPerPartiteGiocateRequest" message="tns:trovaPerPartiteGiocate"/>
<output wsam:Action="http://partiteserver/PartitaEJB/trovaPerPartiteGiocateResponse" message="tns:trovaPerPartiteGiocateResponse"/>
</operation>
</portType>
<binding name="PartitaEJBPortBinding" type="tns:PartitaEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="inserisci">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="elimina">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiorna">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerTipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaTutto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerGoal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerNumAmmonizioni">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerNumEspulsioni">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerPartiteGiocate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PartitaEJBService">
<port name="PartitaEJBPort" binding="tns:PartitaEJBPortBinding">
<soap:address location="http://Host-007.homenet.telecomitalia.it:8080/PartitaEJBService/PartitaEJB"/>
</port>
</service>
</definitions>